<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forum</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Tags-Input.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<%- include(navbar) %>
<body>
    <div class="container d-flex">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3" style="padding-right: 9px;">
                <h2>Chats</h2>
                <div id="chatwith-user-list" style="max-height: 525px;">
                    <ul class="list-group border rounded chatwith-user-list" style="padding-left: 0px;">

                        
                        <li class="list-group-item chatwith-user-list-item" style="padding-left: 30px;padding-right: 16px;">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Current User</span><small class="chatwith-username">@currentUser</small></div>
                            </div>
                        </li>
                        


                        <!--
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Arnav Shah</span><small class="chatwith-username">@captainarnav</small></div>
                            </div>
                        </li>
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Ganadhish Acharekar</span><small class="chatwith-username">@ganadhish1999</small></div>
                            </div>
                        </li>
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small class="chatwith-username">@saharsh9.85</small></div>
                            </div>
                        </li>
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small class="chatwith-username">@saharsh9.85</small></div>
                            </div>
                        </li>
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small class="chatwith-username">@saharsh9.85</small></div>
                            </div>
                        </li>
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small class="chatwith-username">@saharsh9.85</small></div>
                            </div>
                        </li>
                        <li class="list-group-item chatwith-user-list-item">
                            <div class="row d-flex">
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
                                <div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small class="chatwith-username">@saharsh9.85</small></div>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
            <div class="col" style="padding-right: 15px;padding-left: 0px;">
                <div class="border rounded shadow-sm d-flex" style="background-color: rgb(137,228,255);">
                    <div class="row d-flex" style="margin-left: 0px;padding: 9px;width: 233px;">
                        <div class="col-1 col-sm-1 col-lg-1 col-xl-2 d-flex flex-row justify-content-center align-items-center" style="padding-right: 15px;margin-left: 0px;"><img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;margin-left: 0px;"></div>
                        <div class="col-10 col-sm-10 col-lg-10 col-xl-10 d-flex flex-column" style="margin-left: 0px;"><span class="chatwith-user-fullname">curr user</span><small class="chatwith-username" style="margin-left: 5px;">@currUser</small></div>
                    </div><i class="icon ion-android-more-vertical align-self-center ml-auto" style="font-size: 36px;margin-right: 21px;"></i></div>
                    <div>
                        <div class="border rounded d-flex flex-column" id="msg-list" style="max-height: 525px;padding: 0px;background-color: rgba(238,238,238,0.35);">
                            <div class="border rounded shadow d-flex flex-column msg-them msg"><span class="msg-content"></span><small class="align-self-end msg-timestamp"></small>
                            </div>




                            <div class="border rounded shadow d-flex flex-column msg-them msg"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small>
                            </div>
                            <div
                                class="bg-white border rounded shadow d-flex flex-column align-self-end msg-me msg"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small>
                            </div>
                            <div
                                class="bg-white border rounded shadow d-flex flex-column align-self-end msg-me msg"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small>
                            </div>
                            <div
                                class="bg-white border rounded shadow d-flex flex-column align-self-end msg-me msg" style="max-width: 50%;margin: 12px;padding: 12px;"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small>
                            </div>
                            <br>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <input class="flex-fill" type="text" style="margin: 10px;">
                            <button class="btn btn-success d-flex align-self-end ml-auto" type="button" style="margin: 10px;">
                                <i class="fa fa-send-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/Bootstrap-Tags-Input-1.js"></script>
        <script src="assets/js/Bootstrap-Tags-Input.js"></script>
</body>

</html>