<div>
	<div class="container">
		<div class="row">
			<div id="chatwith-user-list" class="col-lg-3 col-sm-4 col-md-4 chatwith-user-list"
				style="max-height:525px; padding-right: 20px;">
				<h2>Chats</h2>
				<!--<div id="chatwith-user-list" style="max-height: 525px;">
					<ul class="list-group border rounded chatwith-user-list" style="padding-left: 0px;">
						<li class="list-group-item chatwith-user-list-item" style="padding-left: 30px;padding-right: 16px;">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Chatwith User</span><small
										class="chatwith-username">@ChatWithUser</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Arnav Shah</span><small
										class="chatwith-username">@captainarnav</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Ganadhish
										Acharekar</span><small class="chatwith-username">@ganadhish1999</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small
										class="chatwith-username">@saharsh9.85</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small
										class="chatwith-username">@saharsh9.85</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small
										class="chatwith-username">@saharsh9.85</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small
										class="chatwith-username">@saharsh9.85</small></div>
							</div>
						</li>
						<li class="list-group-item chatwith-user-list-item">
							<div class="row d-flex">
								<div
									class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex flex-column justify-content-center align-items-center">
									<img class="align-self-center chatwith-user-pic" style="width: 35px;height: 35px;margin: 0px;"></div>
								<div class="col d-flex flex-column"><span class="chatwith-user-fullname">Saharsh Jain</span><small
										class="chatwith-username">@saharsh9.85</small></div>
							</div>
						</li>
					</ul>
				</div> -->
				<user-card name="Akshat Shah" username="@AkshatShah21" avatar="https://randomuser.me/api/portraits/men/1.jpg">
				</user-card>
				<user-card name="Arnav Shah" username="@CaptainArnav" avatar="https://randomuser.me/api/portraits/men/2.jpg">
				</user-card>
				<user-card name="Ganadhish Acharekar" username="@Ganadhish1999"
					avatar="https://randomuser.me/api/portraits/men/3.jpg">
				</user-card>
				<user-card name="Saharsh Jain" username="@SaharshJain9.85"
					avatar="https://randomuser.me/api/portraits/men/4.jpg">
				</user-card>
				<user-card name="Akshat Shah" username="@AkshatShah21" avatar="https://randomuser.me/api/portraits/men/1.jpg">
				</user-card>
				<user-card name="Arnav Shah" username="@CaptainArnav" avatar="https://randomuser.me/api/portraits/men/2.jpg">
				</user-card>
				<user-card name="Ganadhish Acharekar" username="@Ganadhish1999"
					avatar="https://randomuser.me/api/portraits/men/3.jpg">
				</user-card>
				<user-card name="Saharsh Jain" username="@SaharshJain9.85"
					avatar="https://randomuser.me/api/portraits/men/4.jpg">
				</user-card>
				<user-card name="Akshat Shah" username="@AkshatShah21" avatar="https://randomuser.me/api/portraits/men/1.jpg">
				</user-card>
				<user-card name="Arnav Shah" username="@CaptainArnav" avatar="https://randomuser.me/api/portraits/men/2.jpg">
				</user-card>
				<user-card name="Ganadhish Acharekar" username="@Ganadhish1999"
					avatar="https://randomuser.me/api/portraits/men/3.jpg">
				</user-card>
				<user-card name="Saharsh Jain" username="@SaharshJain9.85"
					avatar="https://randomuser.me/api/portraits/men/4.jpg">
				</user-card>

			</div>
			<div class="col-lg-9 col-sm-8 col-md-8">
				<div class="border rounded shadow-sm d-flex" style="background-color: #1a181b;">
					<div class="row d-flex" style="margin-left: 0px;padding: 9px;">
						<div class="col-1 col-sm-1 col-lg-1 col-xl-2 d-flex flex-row justify-content-center align-items-center"
							style="margin-left: 0px;"><img src="https://randomuser.me/api/portraits/men/1.jpg"
								class="align-self-center chatwith-user-pic"
								style="width: 35px;height: 35px;margin: 0px;margin-left: 0px;"></div>
						<div class="col-10 col-sm-10 col-lg-10 col-xl-10 d-flex flex-column"
							style="margin-left: 0px; color:#eeeeee"><span class="chatwith-user-fullname">Akshat Shah</span><small
								class="chatwith-username" style="margin-left: 5px;">@AkshatShah21</small></div>
					</div><i class="icon ion-android-more-vertical align-self-center ml-auto"
						style="font-size: 36px;margin-right: 21px;color: #eee;"></i>
				</div>
				<div>
					<div class="border rounded d-flex flex-column" id="msg-list"
						style="min-height: 470px;max-height: 470px;padding: 0px;background-color: rgba(238,238,238,0.35);">


						<!-- <div class="border rounded shadow d-flex flex-column msg-them msg"><span class="msg-content">Message
								Content</span><small class="align-self-end msg-timestamp">Time</small></div>
						<div class="border rounded shadow d-flex flex-column msg-them msg"><span class="msg-content">Message
								Content</span><small class="align-self-end msg-timestamp">Time</small></div>
						<div class="border rounded shadow d-flex flex-column msg-them msg"><span class="msg-content">Message
								Content</span><small class="align-self-end msg-timestamp">Time</small></div>
                        
                        
                                <div class="border rounded shadow d-flex align-self-end flex-column msg-me msg"><span
								class="msg-content">Message Content</span><small class="align-self-end msg-timestamp">Time</small></div> -->
						<!-- <div
																class="border rounded shadow d-flex flex-column msg-them msg"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small></div>
												<div
														class="bg-white border rounded shadow d-flex flex-column align-self-end msg-me msg"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small></div>
										<div
												class="bg-white border rounded shadow d-flex flex-column align-self-end msg-me msg"><span class="msg-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55 PM</small></div>
														-->
						<!-- <div class="bg-white border rounded shadow d-flex flex-column align-self-end msg-me msg"
							style="max-width: 50%;margin: 12px;padding: 12px;"><span class="msg-content">Nullam id dolor id nibh
								ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
								elit non mi porta gravida at eget metus.</span><small class="align-self-end msg-timestamp">05:55
								PM</small></div><br> -->

								<msg-box content="Nullam id dolor id nibh
								ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
								elit non mi porta gravida at eget metus." timestamp="05:55PM" type="me"></msg-box>
								<msg-box content="Nullam id dolor id nibh
								ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
								elit non mi porta gravida at eget metus." timestamp="05:55PM" type="them"></msg-box>
                                <msg-box content="<script>alert('Hacked');</script>" timestamp="02:22PM" type="them"></msg-box>
                                <msg-box content="Hey, about that Newton's rings problem..." timestamp="02:22AM" type="them"></msg-box>
                                <msg-box content="What about it?" timestamp="02:24AM" type="me"></msg-box>
					</div>
					<form id="chat-form" action="/chat"><div class="d-flex flex-row align-items-center"><input id="msg-content" class="flex-fill" type="text" autocomplete="off"
							style="margin: 10px;"><button class="btn d-flex align-self-end ml-auto" type="submit"
							style="margin: 10px; background-color: #05f140;"><i class="fa fa-send-o"></i></button></div></form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat.js"></script>
