<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean">
      <div class="container"><a class="navbar-brand" href="#" style="font-size: 20px;">SAGA</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div
              class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav align-self-end ml-auto">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#">Profile</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#">Account?</a></li>
                  <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">???</a>
                      <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                  </li>
              </ul>
      </div>
      </div>
  </nav>
    <div class="container">
      <div class="card shadow mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-auto">
              <img
                class=""
                src="https://randomuser.me/api/portraits/men/1.jpg"
                alt="Profile Picture"
              />
            </div>
            <div class="col flex-d column">
              <h3>Akshat Shah</h3>
              <span class="text-success">@AkshatShah21</span><br />
              <span class="text-secondary">shahakshat2000@gmail.com</span
              ><br /><br />
              <div class="btn btn-primary">Follow</div>
              <div class="btn btn-secondary">Contact</div>
            </div>
            <div class="col flex-d column">
              <br />
              <span>Age: 19</span><br />
              <span>Qualifications: </span>
              <span class="badge badge-success">IGCSE</span>
              <span class="badge badge-success">HSC</span>
              <span class="badge badge-success"
                >Bachelor of Technology in Information Technology</span
              >
              <span class="badge badge-success"
                >Bachelor of Counter-Strike</span
              >
              <span class="badge badge-success">Noob in Grammar</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4 mr-0">
        <div
          class="nav flex-column nav-pills ml-3 col-2 pr-0"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active"
            id="v-pills-about-tab"
            data-toggle="pill"
            href="#v-pills-about"
            role="tab"
            aria-controls="v-pills-about"
            aria-selected="true"
            >About</a
          >

          <a
            class="nav-link"
            id="v-pills-recent-posts-tab"
            data-toggle="pill"
            href="#v-pills-recent-posts"
            role="tab"
            aria-controls="v-pills-recent-posts"
            aria-selected="true"
            >Recent Posts</a
          >
          
          <a
            class="nav-link"
            id="v-pills-subforums-tab"
            data-toggle="pill"
            href="#v-pills-subforums"
            role="tab"
            aria-controls="v-pills-subforums"
            aria-selected="false"
            >Followed Subforums</a
          >
          <a
            class="nav-link"
            id="v-pills-communities-tab"
            data-toggle="pill"
            href="#v-pills-communities"
            role="tab"
            aria-controls="v-pills-communities"
            aria-selected="false"
            >Communities</a
          >
        </div>

        <div
          class="tab-content card card-body rounded-lg col-9 ml-auto"
          id="v-pills-tabContent"
        >
          <div
            class="tab-pane fade show active"
            id="v-pills-about"
            role="tabpanel"
            aria-labelledby="v-pills-about-tab"
          >
          <h4></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tempore ea cum, quas illum vitae ipsam doloribus libero corporis rerum, necessitatibus ipsum inventore est? Iure, porro saepe? Cupiditate consectetur ducimus obcaecati ad, recusandae dolorem dicta, accusantium eaque dolorum officia modi ut enim dolores deleniti blanditiis unde quaerat laborum. Numquam, cupiditate?</p>
          <h4>Interests</h4>
          <ul class="list-group pl-5 pr-5 ml-5 mr-5">
            <li class="list-group-item">Quantum Mechanics</li>
            <li class="list-group-item">Ice Cream</li>
            <li class="list-group-item">Competitive Programming</li>
            <li class="list-group-item">Web development</li>
            <li class="list-group-item">Statistics</li>
            <li class="list-group-item">Reading</li>
            <li class="list-group-item">Writing</li>
          </ul>

        </div>
          <div
            class="tab-pane fade"
            id="v-pills-recent-posts"
            role="tabpanel"
            aria-labelledby="v-pills-recent-posts-tab"
          >
            
            <user-post title="Why Vim is better than VSCode" date="29-03-2020" time="9:47 PM"
              upvotes="25" downvotes="250" subforum="Text Editors"
              excerpt="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet iusto perspiciatis eligendi fugiat magni est quas vitae dolores nisi. Inventore voluptas maxime quia aspernatur nemo, similique excepturi recusandae culpa mollitia."
            ></user-post>

            <user-post title="Why no language is the best one" date="29-03-2020" time="9:47 PM"
              upvotes="250" downvotes="25" subforum="Programming"
              excerpt="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet iusto perspiciatis eligendi fugiat magni est quas vitae dolores nisi. Inventore voluptas maxime quia aspernatur nemo, similique excepturi recusandae culpa mollitia."
            ></user-post>

            <user-post title="Why I write on this forum" date="29-03-2020" time="9:47 PM"
              upvotes="250" downvotes="25" subforum="Introspective"
              excerpt="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet iusto perspiciatis eligendi fugiat magni est quas vitae dolores nisi. Inventore voluptas maxime quia aspernatur nemo, similique excepturi recusandae culpa mollitia."
            ></user-post>

            </div>

            <div
            class="tab-pane fade  "
            id="v-pills-subforums"
            role="tabpanel"
            aria-labelledby="v-pills-subforums-tab"
          >

              <ul class="list-group">
                <li class="list-group-item">SubforumName1</li>
                <li class="list-group-item">SubforumName2</li>
                <li class="list-group-item">SubforumName3</li>
                <li class="list-group-item">SubforumName4</li>
                <li class="list-group-item">SubforumName5</li>
                <li class="list-group-item">SubforumName6</li>
              </ul>
            
          </div>

          <div
            class="tab-pane fade"
            id="v-pills-communities"
            role="tabpanel"
            aria-labelledby="v-pills-communities-tab"
          >

            <ul class="list-group">
              <li class="list-group-item">Community1</li>
              <li class="list-group-item">Community2</li>
              <li class="list-group-item">Community3</li>
              <li class="list-group-item">Community4</li>
              <li class="list-group-item">Community5</li>
            </ul>

          </div>

          </div>
          
        </div>
      </div>

      <!-- <div class="row">
				<span class="card shadow mr-2 ml-3">
      <ul
        class="nav flex-column nav-pills col-auto card-body"
        id="v-pills-tab"
        role="tablist"
				aria-orientation="vertical"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="v-pills-home-tab"
            data-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="v-pills-profile-tab"
            data-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
            >Posts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="v-pills-messages-tab"
            data-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
            >Followed subforums</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
            >Communities</a
          >
        </li>
			</ul>
		</span>
      <div class="tab-content col card shadow mr-3" id="v-pills-tabContent">
				<div class="card-body">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >
          This is about tab
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          This is Posts tab
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
          This is subforums tab
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-settings"
          role="tabpanel"
          aria-labelledby="v-pills-settings-tab"
        >
          This is communities tab
				</div>
			</div>
			</div>
		</div> -->
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>

    <script>
      var userPostTemplate = document.createElement("template");
      userPostTemplate.innerHTML = `
      <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
      <!--
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
      -->
          <div class="card rounded-lg mb-3" style="max-width: inherit;">
              <div class="card-body shadow">
                <div class="row">
                  <div class="col">
                    <h5 id="post-title"></h5><span class="text-muted" id="post-subforum"></span>
                  </div>
                  
                  <div class="col-sm-auto flex-column">
                    <!-- Date and time -->
                    <!-- Not getting aligned to the right! -->
                    <small id="post-date" class="align-self-end"></small><br />
                    <small id="post-time" class="align-self-end"></small>
                  </div>
                </div>

                <!-- Categories/Tags -->
                <div class="badge badge-pill badge-primary">quantum-physics</div>
                <div class="badge badge-pill badge-secondary">python</div>
                <div class="badge badge-pill badge-success">newtonian-mechanics</div>
                <div class="badge badge-pill badge-danger">dragon-ball-z</div>
                <div class="badge badge-pill badge-warning">koalas</div>
                <div class="badge badge-pill badge-info">ice-cream</div>
                <div class="badge badge-pill badge-dark">competitive-programming</div>
                <!-- End of categories/tags -->

                <hr />
                <!-- Excerpt of post -->
                <span id="post-excerpt"></span>

                
                <div class="d-flex flex-row justify-content-start mt-2">
                  <!-- Sharing -->
                  <i class="fa fa-facebook-official fa-lg d-flex align-self-center share-icon mr-3"></i>
                  <i class="fa fa-twitter fa-lg d-flex align-self-center share-icon mr-3"></i>
                  <i class="fa fa-get-pocket fa-lg d-flex align-self-center share-icon mr-3"></i>
                  <i class="fa fa-link fa-lg d-flex align-self-center share-icon mr-3"></i>

                  <!-- Downvote -->
                  <i id="downvote-btn"
                    class="fa fa-arrow-circle-down fa-2x align-self-center ml-auto"
                    style="background-color: rgba(255,255,255,0.2);color: #d9534f;"
                  ></i>
                  <span id="downvote-count"
                    class="align-items-center ml-3"
                    style="color: rgb(228,20,6); font-size:1.2rem"
                    ></span>
                  
                  <!-- Upvote -->
                  <span id="upvote-count"
                    class="align-items-center ml-3"
                    style="color: #5cb85c; font-size:1.2rem;"
                    ></span
                  ><i id="upvote-btn"
                    class="fa fa-arrow-circle-up fa-2x align-self-center ml-3"
                    style="color: #5cb85c;"
                  ></i>
                </div>
              </div>`;

      class UserPost extends HTMLElement {
        constructor() {
          super();
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(userPostTemplate.content.cloneNode(true));
        }

        connectedCallback() {
          this.title = this.getAttribute("title");
          this.excerpt = this.getAttribute("excerpt");
          this.postId = this.getAttribute("post-id");
          this.date = this.getAttribute("date");
          this.time = this.getAttribute("time");
          this.upvotes = this.getAttribute("upvotes");
          this.downvotes = this.getAttribute("downvotes");
          this.subforum = this.getAttribute("subforum");
          // Don't know what to do for categories. Could take space separated tags, like for class attribute

          this.shadowRoot.querySelector("#post-title").innerText = this.title;
          this.shadowRoot.querySelector("#post-excerpt").innerText = this.excerpt;
          this.shadowRoot.querySelector("#post-date").innerText = this.date;
          this.shadowRoot.querySelector("#post-time").innerText = this.time;
          this.shadowRoot.querySelector("#upvote-count").innerText = this.upvotes;
          this.shadowRoot.querySelector("#downvote-count").innerText = this.downvotes;
          this.shadowRoot.querySelector('#post-subforum').innerText = this.subforum;
          // Don't know what to do for categories
        }
      }

      window.customElements.define('user-post', UserPost);
    </script>
  </body>
</html>
