<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-auto">
              <img
                class=""
                src="https://randomuser.me/api/portraits/men/1.jpg"
                alt="Profile Picture"
              />
            </div>
            <div class="col flex-d column">
              <h3>Akshat Shah</h3>
              <span>@AkshatShah21</span><br />
              <span class="text-success">shahakshat2000@gmail.com</span
              ><br /><br />
              <div class="btn btn-primary">Follow</div>
              <div class="btn btn-secondary">Contact</div>
            </div>
            <div class="col col flex-d column">
              <br />
              <span>Age: 19</span><br />
              <span>Qualifications: </span>
              <span class="badge badge-success">IGCSE</span>
              <span class="badge badge-success">HSC</span>
              <span class="badge badge-success"
                >Bachelor of Technology in Information Technology</span
              >
              <span class="badge badge-success"
                >Bachelor of Counter-Strike</span
              >
              <span class="badge badge-success">Noob in Grammar</span>
            </div>
          </div>
        </div>
			</div>
			
			<div class="row">
			<div class="nav flex-column nav-pills card shadow ml-3 mr-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
				<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
				<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
			</div>
			<div class="tab-content card card-body shadow" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">1</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">2</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">3</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">4</div>
			</div>
		</div>
			<!-- <div class="row">
				<span class="card shadow mr-2 ml-3">
      <ul
        class="nav flex-column nav-pills col-auto card-body"
        id="v-pills-tab"
        role="tablist"
				aria-orientation="vertical"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="v-pills-home-tab"
            data-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="v-pills-profile-tab"
            data-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
            >Posts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="v-pills-messages-tab"
            data-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
            >Followed subforums</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
            >Communities</a
          >
        </li>
			</ul>
		</span>
      <div class="tab-content col card shadow mr-3" id="v-pills-tabContent">
				<div class="card-body">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >
          This is about tab
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          This is Posts tab
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
          This is subforums tab
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-settings"
          role="tabpanel"
          aria-labelledby="v-pills-settings-tab"
        >
          This is communities tab
				</div>
			</div>
			</div>
		</div> -->
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
