
    <div role="tablist" id="accordion-1">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Subforums you follow</a></h5>
            </div>
            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                    <ul class="list-group">
                        <% if(typeof userSubforums != 'undefined') { userSubforums.forEach(s => { %>
                                <li class="list-group-item"><a href="SUBFORUM LINK HERE"><span>s.name</span></a></li>
                            <!-- <li class="list-group-item"><span>SubforumName2</span></li>
                            <li class="list-group-item"><span>SubforumName3</span></li> -->
                        <% });} %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2">Your communities</a></h5>
            </div>
            <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                    <ul class="list-group">
                        <% if(typeof userCommunities != 'undefined') { userCommunities.forEach(x => { %> 
                            <li class="list-group-item"><a href="COMMUNITY LINK HERE"><span>c.name</span></a></li>
                        <% });} %>
                        <!-- <li class="list-group-item"><span>Community2</span></li>
                        <li class="list-group-item"><span>Community3</span></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3">Recent posts</a></h5>
            </div>
            <div class="collapse show item-3" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                    <ul class="list-group">
                        <% if(typeof userPosts != 'undefined') { userPosts.forEach(p => { %>
                        <li class="list-group-item"><a href="POST LINK HERE"><span>p.title</span></a></li>
                        <% });} %>
                        <!-- <li class="list-group-item"><span>Post2Title</span></li>
                        <li class="list-group-item"><span>Post3Title</span></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Bootstrap-Tags-Input-1.js"></script>
    <script src="assets/js/Bootstrap-Tags-Input.js"></script>
</body>

</html>