
    <div class="row ml-auto">
        <div class="col">
            <div class="container">
                <h1 class="subforum-title">SubforumName</h1>
                <p class="subforum-description">Subforum Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                
                
                <div class="card post-card" style="margin-bottom: 10px;">
                    <div class="card-body rounded-0 shadow post-card-body" style="margin-bottom: 0px;padding-bottom: 20px;">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-3 col-sm-2 col-xl-1"><img class="post-author-pic" style="width: 50px;height: 50px;"></div>
                            <div class="col-6 col-sm-6 d-flex flex-row align-items-center"><span class="post-author-name">Author name</span><span class="ml-2 username">@username</span></div>
                            <div class="col-sm-4 col-xl-5 d-flex flex-column"><small class="ml-auto post-date" style="margin: 0px;margin-right: 0px;">13/03/2020</small><small class="align-self-end post-time">05:55 PM</small></div>
                        </div>
                        <div class="d-flex">
                            <h4 class="d-flex post-title">Post Title</h4>
                        </div>
                        <h6 class="text-muted card-subtitle mb-2 post-categories">Insert categories here, somehow each tag should be highlighted</h6>
                        <p class="card-text post-excerpt">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.&nbsp;Trimmed Description, ending with the following: ... <em>Read More</em></p>
                        <header></header>
                        <div class="d-flex flex-row justify-content-start"><i class="fa fa-facebook-official d-flex align-self-center share-icon"></i><i class="fa fa-twitter d-flex align-self-center share-icon"></i><i class="fa fa-get-pocket d-flex align-self-center share-icon"></i><i class="fa fa-link d-flex align-self-center share-icon"></i>
                            <i
                                class="fa fa-arrow-circle-down align-self-center ml-auto upvote-btn" style="background-color: rgba(255,255,255,0.2);color: #d9534f;"></i><span class="align-items-center downvote-count" style="color: rgb(228,20,6);">9</span><span class="align-items-center upvote-count" style="color: #5cb85c;">99</span><i class="fa fa-arrow-circle-up align-self-center downvote-btn"
                                    style="color: #5cb85c;"></i></div>
                        <hr style="color: #555555;font-size: 12px;height: 1px;background-color: #cccccc;margin-bottom: 13px;">
                        <div class="row">
                            <div class="col-auto" style="padding-right: 0px;padding-left: 0px;"><img style="width: 30px;height: 30px;margin: 10px;"></div>
                            <div class="col d-flex" style="padding: 0px;">
                                <div class="form-group d-flex flex-fill align-items-center"><textarea class="form-control-sm d-flex d-lg-flex flex-grow-1 align-items-center align-items-lg-center" placeholder="Add comment" name="comment-text" style="margin-left: 15px;" rows="3"></textarea><button class="btn btn-primary btn-sm"
                                        type="button" style="margin-left: 4px;">Add</button></div>
                            </div>
                        </div>
                        <div class="row text-left comment-row" style="margin-right: 0;">
                            <div class="col-xl-1 commenter-details-col" style="padding-right: 0px;padding-left: 0px;"><img class="commenter-pic" style="height: 30px;width: 30px;margin: 10px;margin-right: 10;"><span class="commenter-username username" style="font-size: 11px;">@username</span></div>
                            <div class="col" style="padding-top: 5px;">
                                <p class="d-inline-block comment-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. THIS IS A TOP LEVEL COMMENT</p>
                                <div class="d-flex flex-row justify-content-start"><i class="fa fa-facebook-official d-flex align-self-center share-icon"></i><i class="fa fa-twitter d-flex align-self-center share-icon"></i><i class="fa fa-get-pocket d-flex align-self-center share-icon"></i><i class="fa fa-link d-flex align-self-center share-icon"></i>
                                    <i
                                        class="fa fa-arrow-circle-down align-self-center ml-auto downvote-btn" style="background-color: rgba(255,255,255,0.2);color: #d9534f;"></i><span class="align-items-center downvote-count" style="color: rgb(228,20,6);">9</span><span class="align-items-center upvote-count" style="color: #5cb85c;">99</span><i class="fa fa-arrow-circle-up align-self-center upvote-btn"
                                            style="color: #5cb85c;"></i></div>
                            </div>
                        </div>
                        <div class="row text-left child-comment-row" style="margin-right: 0;margin-left: 15px;">
                            <div class="col-xl-1 commenter-details-col" style="padding-left: 0px;padding-right: 0px;"><img class="commenter-pic" style="height: 30px;width: 30px;margin: 10px;margin-right: 10;"><span class="commenter-username username" style="font-size: 11px;">@username</span></div>
                            <div class="col" style="padding-top: 5px;">
                                <p class="d-inline-block comment-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. THIS IS A CHILD COMMENT</p>
                                <div class="d-flex flex-row justify-content-start"><i class="fa fa-facebook-official d-flex align-self-center share-icon"></i><i class="fa fa-twitter d-flex align-self-center share-icon"></i><i class="fa fa-get-pocket d-flex align-self-center share-icon"></i><i class="fa fa-link d-flex align-self-center share-icon"></i>
                                    <i
                                        class="fa fa-arrow-circle-down align-self-center ml-auto upvote-btn" style="background-color: rgba(255,255,255,0.2);color: #d9534f;"></i><span class="align-items-center downvote-count" style="color: rgb(228,20,6);">9</span><span class="align-items-center upvote-count" style="color: #5cb85c;">99</span><i class="fa fa-arrow-circle-up align-self-center downvote-btn"
                                            style="color: #5cb85c;"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3" style="padding-top: 0px; padding-right: 20px;">
            <%- include('sidebar') %>
        </div>
    </div>
