body {
    font-family: 'Open Sans', sans-serif;
}

.share-icon, .upvote-btn, .downvote-btn, .upvote-count, .downvote-count {
  padding-left: 10px;
}

.comment-content {
  line-height: 1;
}

.comment-row {
  border: 0.5px solid rgba(204,204,204,0.3);
}

.msg {
  line-height: 0.8;
}

#msg-list {
  overflow: auto;
}

.msg-content {
  font-size: 13px;
  line-height: 1.1;
}

.msg-timestamp {
  color: #918b8b;
}

.msg-them {
  background-color: #05f140bb;
}

.chatwith-user-list-item {
  padding-left: 30px;
  padding-right: 16px;
}

.msg {
  max-width: max-content;
  margin: 12px;
  padding: 12px;
  padding-bottom: 8px;
}

.comment-content {
  background-color: #e5edff;
  padding: 9px;
}

.navbar-brand:hover {
  color: #ccc;
}

#chatwith-user-list {
  overflow: auto;
}


.chatwith-username .username {
    color: #00be30;
}

.username {
    color: #00be30;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

div.show-image {
  position: relative;
  float:left;
  margin:5px;
}
div.show-image:hover img{
  opacity:0.5;
}
div.show-image:hover input {
  display: block;
}
div.show-image input {
  position:absolute;
  display:none;
}
div.show-image input.update {
  top:0;
  left:10%;
}

/* .white-text {
  color: #FEFCFB;
} */

/* navbar color: #0d0221, darkest
	nav brand(.navbar-brand), nav links (.nav-link), nav toggle button: white-text
	add class in nav: .sticky-top
	footer: same color as navbar, #0d0221

*/
.nothing {
  background-color: #FE4A49;
  background-color: #0A369D;
  background-color: #0d0221;
  background-color: #0F084B;
  background-color: #3772FF;
  color: #FEFCFB;
  color: #27f502d2
}

/* Issues: Navbar toggle button. Needs to be white-text
	onclick border doesn't go*/