<nav class="navbar sticky-top navbar-expand-md navigation-clean navbar-dark shadow" style="background-color:#0d0221">
    <div class="container"><a class="navbar-brand white-text" href="/home" style="font-size:20px;">SAGA</a>
    <button
            data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="color: #FEFCFB;"><span class="sr-only" >Toggle
                navigation</span><span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <!-- Search form -->
            <form class="form active-cyan active-cyan-2 mt-2 row" method="GET"
                action="/search">
                <div class="col-sm-auto">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <div class="col-sm-auto">
                    <input name="search" class="form-control form-control-sm" type="text" placeholder="Search..."
                        aria-label="Search">
                </div>
                <div class="col-sm-auto">
                <button class="btn btn-primary btn-rounded btn-sm" type="submit">Search</button>
                </div>
            </form>
            <!-- End Search form -->
            <ul class="nav navbar-nav ml-auto">
                
                <li class="nav-item" role="presentation"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/chat">Chats</a></li>
                <% if(typeof user != 'undefined') { %>
                    <li class="nav-item" role="presentation"><a class="nav-link" id="navbar-username" href="/profile/<%= user.username %>">@<%= user.username %></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/users/logout">Logout</a></li>
                    <% } else { %>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/users/login">Login</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/users/register">Register</a></li>
                        <% } %>
                            
                            <% if(typeof user != 'undefined') { %>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                        aria-expanded="false" href="#">Actions</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/post/create">Add post</a><a class="dropdown-item" role="presentation" href="#">Create subforum</a><a class="dropdown-item" role="presentation" href="#">Create community</a></div>
                            </li>
                            <% } %>
            </ul>
        </div>
    </div>
</nav>